@font-face {
  font-family: 'opensans';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
  src: url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  src: url('../fonts/OpenSans-Regular-webfont.svg#opensans') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  src: url("../fonts/Roboto-Regular-webfont.ttf") format("truetype");
  src: url("../fonts/Roboto-Regular-webfont.svg#RockwellRegular") format('svg');

  font-style: normal;
  font-weight: normal;
}
