@import "../scss/_fonts.scss";
@import "../scss/_variables.scss";
@import "../scss/_settings.scss";
@import "../scss/_gui.scss";

// ===== canvas_img =====//

.wrap {
  padding-top: 80px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.canvas_img {
  width: 100%;

  @include canvas-img-shadow;

  padding: 17px 15px 17px 15px;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  box-sizing: border-box;
  text-align: center;
  &__loaded {
    position: relative
  }
}

.canvas_img {
    &__block {
        display: inline-block;
        position: relative;
    }
}