.canvas_img {
    &__note {
        position: absolute;
        width: 24px;
        height: 27px;
        background-image: url('../img/note.png');
        background-repeat: no-repeat;
        background-size: 24px 27px;
        z-index: 9999;
        &:hover {
            cursor: pointer;
            opacity: .9 !important;
        }
    }
}