@import "../scss/_fonts.scss";
@import "../scss/_variables.scss";
@import "../scss/_settings.scss";
@import "../scss/_gui.scss";

// ===== tags ===== //

.tags {
  &__tag {
    border-bottom: 1px solid $col-tag-border;
    padding: 13px 18px 13px 35px;
    font-family: $font-opensans;
    font-size: 12px;
    color: $col-tag-font;
    background-image: url('../img/tag_icon.png'); 
    background-size: 12px 13px;
    background-repeat: no-repeat;
    background-position: 15px 14px;
    box-sizing: border-box;
    position: relative;
    &:hover {
      background-color: $col-tag-bg--active;
      cursor: pointer;
    }
    &:hover &_close {
      display: block;
    }

    &--active {
      background-color: $col-tag-bg--active;
      color: $col-tag-font--active;
    }
  }
  &__tag_close {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    z-index: 99999;
    font-size: 21px;
    position: absolute;
    right: 5px;
    top: 10px;
    color: darken(#f1402c, 5%);
    display: none;
    &:hover {
      color: darken(#f1402c, 20%);
      cursor: pointer;
    }
  }
}